@using UI.Models
@model IEnumerable<PlayerModel>

@{
    ViewBag.Title = "Player Menu";
    Layout = "_Layout";
}
<div class="row">
    <div class="col">
        <form method="get" asp-controller="Home" asp-action="Register">
            <input type="submit" style="width: 250px" class="btn btn-outline-primary bj-centered-control" value="Register" />
        </form>
        <form method="get" asp-controller="Home" asp-action="Login">
            <input type="submit" style="width: 250px" class="btn btn-outline-success bj-centered-control" value="Login" />
        </form>
    </div>
    <div class="col-6">
        <table class="table">
            <tr>
                <th>Players</th>
            </tr>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => player.Name)</td>
                </tr>
            }
        </table>
    </div>   
</div>
