
@model IEnumerable<Player>

@{
    ViewBag.Title = "creation player";
}

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => player.Id)</td>
            <td>@Html.DisplayFor(model => player.Name)</td>
        </tr>
    }
</table>

<form method="post" asp-controller="PlayerPage" asp-action="CreatePlayer">
    <input type="text" name="name" value="Начать" />
    <button type="submit">Create</button>
</form>