.card-modify {
    margin: 3px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    float: left;
  }
  
  .card-body-modify {
    padding: 0 12px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: darkcyan;
  }
  
  .card-section-modify {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 8px 12px;
  }

  .margin-left-minus {
    margin-left: -30px!important;
  }

  .margin-left-minus:first-child {
    margin-left: 3px;
  }

  .card-img {
    margin: 3px;
    padding: 0;
    border: 1px solid #28a745;
    width: 75px;
    height: 114px;
    float: left;
  }

  .card-font-large {
    font-family: Consolas;
    font-weight: bold;
    font-size: large;
  }
  
  .card-score {
    float: left;
    width: 30px;
  }