<main class="container-fluid">
    <div class="position-games">
        <div id="games-id" class="list-group">
            <button *ngFor="let game of games; let i = index" type="button" style="padding: 8px 12px"
                class="list-group-item list-group-item-action no-margin"
                (click)="showRounds(game.id)">{{ game.name }}</button>
        </div>
    </div>
    <div class="position-rounds">
        <div id="rounds-id" class="tab-content">
            <div *ngIf="!rounds" class="alert alert-danger">
                Select any game
            </div>
            <app-round *ngFor="let round of rounds" [round]="round"></app-round>
        </div>
    </div>
</main>