@model GameViewModel
@{
    ViewData["Title"] = "Game";
    Layout = "_LayoutGame";
}
<div>

    

</div>

<div style="display: none" id="GameId">@Model.Game.Id</div>

<div>
    @{ 
    int i = 1;
    foreach (var player in Model.Players)
    {
        <div class="card card-modify">
            <div class="card-header">
                @player.Name
            </div>
            <div id="body-@i.ToString();" class="card-body" style="height: 150px;">
                 
            </div>
            <div id="" class="alert-success card-footer">
                <span id="score-@i.ToString();" style="width: 30px; float: left">0</span>
                <span id="result-@i.ToString();" style="float: right">Победил?</span>           
            </div>
        </div>
        i++;
    }
    }
</div>



