@model GameViewModel
@{
    ViewData["Title"] = "Game";
    Layout = "_LayoutGame";
}
<div style="display: none" id="id-game">@Model.Game.Id</div>

<div>
    @{ 
    int i = 1;
    foreach (var player in Model.Players)
    {
        <div id="card-@i.ToString()" class="card card-modify">
            <div class="card-header">
                @player.Name
            </div>
            <div id="body-@i.ToString()" class="card-body card-body-modify">
            </div>
            <div id="footer-@i.ToString()" class="alert-secondary card-footer">
                <span id="score-@i.ToString()" class="card-font-large card-score">0</span>
                <span id="result-@i.ToString()" class="card-font-large" style="float: right"></span>           
            </div>
        </div>
        i++;
    }
    }
</div>



