@model GameViewModel
@{
    ViewData["Title"] = "Game";
    Layout = "_LayoutGame";
}
<div style="display: none" id="id-game">@Model.Game.Id</div>

<div>
    @{ 
    int i = 1;
    foreach (var player in Model.Players)
    {
        <div class="card card-modify">
            <div class="card-header">
                @player.Name
            </div>
            <div id="body-@i.ToString()" class="card-body card-body-modify">
                @*<img src="/Images/0.png" class="card-img" />*@
            </div>
            <div id="" class="alert-success card-footer">
                <span id="score-@i.ToString()" class="card-score">0</span>
                <span id="result-@i.ToString()" style="float: right"></span>           
            </div>
        </div>
        i++;
    }
    }
</div>



