@model string
@{
    ViewData["Title"] = "Game Menu";
    Layout = "_Layout";
}
<div>
    <div class="alert alert-success button-my-outline">Welcome to the game, @Model</div>
    <form method="post" asp-controller="Game" asp-action="StartGame">
        <div class="form-group">
            <label for="countBotsString">Bots count:</label>
            <select class="form-control" name="countBots" id="countBotsString">
                @for (int i = 0; i <= 7; i++)
                {
                    <option>@i</option>
                }
            </select>
            <input type="submit" class="btn btn btn-outline-success button-my-outline" value="Start Game" />
        </div>
    </form>
    <form method="post" asp-controller="Game" asp-action="ShowGames">
        <input type="submit" class="btn btn-outline-primary button-my-outline" value="Show Games" />
    </form>
</div>



