@{
    ViewData["Title"] = "History Games";
    Layout = "_LayoutListGame";
}
<div class="col col-lg-2" style="background-color: antiquewhite">
    list Games
</div>
<div class="col" style="background-color: aquamarine">
    list rounds
</div>

