<div class="container">
  <h2>Register</h2>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"/>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password">
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm password</label>
      <input type="text" class="form-control" id="confirm-password" required [(ngModel)]="model.passwordConfirm" [ngModelOptions]="{standalone: true}"/>
    </div>

    <button type="submit" style="width: 300px;" class="btn btn-success">Register</button>
  </form>
  No account? <a routerLink="/account/login">Sign In</a>
</div>
