<div id="{{round.round.id}}">
    <ul class="list-group list-group-horizontal row no-gutters my-row">
        <li class="list-group-item list-group-item-action col col-sm-1" style="padding: 0;">
            <!-- <a href data-toggle="collapse" [attr.aria-controls]="'B'+round.round.id" [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed">
                # {{round.round.numberRound}}</a> -->
            <button class="btn {{ roundClass }} my-button" data-toggle="collapse" [attr.aria-controls]="'B'+round.round.id" [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed">
                # {{round.round.numberRound}}</button>
        </li>
        <div>

        </div>
        <li *ngFor="let player of round.players; let i = index" class="list-group-item col {{ itemClasses[i] }}"> {{player}} :
            {{round.scores[i]}} </li>
    </ul>
    <ul id="B{{round.round.id}}" class="collapse list-group list-group-horizontal row no-gutters my-row"
        [ngbCollapse]="!isCollapsed">
        <li class="list-group-item col col-sm-1"> Cards: </li>
        <li *ngFor="let player of round.players; let i = index" class="list-group-item col ">
            <img *ngFor="let card of round.cards[i]" src="/Images/{{card}}.png" class="view-img" />
        </li>
    </ul>
</div>