.card-modify {
    margin: 10px;
    border: 2px solid;
    border-radius: 8px;
    width: 300px;
    float: left;
  }
  
  .card-body-modify {
    height: 250px;
    padding: 0 12px;
  }
  
  .card-img {
    margin: 3px;
    padding: 0;
    border: 1px solid #28a745;
    width: 75px;
    height: 114px;
    float: left;
  }