.card-modify {
    margin: 10px;
    border: medium solid #808080;
    border-radius: 8px;
    width: 200px;
    float: left;
  }
  
  .card-body-modify {
    height: 165px;
    padding: 0 12px;
  }
  
  .card-img {
    margin: 3px;
    padding: 0;
    border: 1px solid #28a745;
    width: 50px;
    height: 76px;
    float: left;
  }