<div class="card card-modify {{ colorClasses[0][state] }}">
    <div class="card-header">
        {{ player.name }}
    </div>
    <div class="card-body card-body-modify">
        <div *ngFor="let card of cards">
            <img  class="card-img" *ngIf="(card != 53)" src="/assets/images/{{card}}.png">
        </div>

    </div>
    <div style="height: 52px" class="{{ colorClasses[1][state] }} card-footer">
        <span class="card-font-large card-score">{{ score }}</span>
        <span class="card-font-large" style="float: right">
            <div *ngIf="state == 1">Win</div>
            <div *ngIf="state == 2">Lose</div>
        </span>
    </div>
</div>