@model string
@{
    ViewData["Title"] = "Game Menu";
    Layout = "_Layout";
}

<div class="alert alert-primary bj-centered-block">Welcome to the game, @Model</div>
@*<form method="post" asp-controller="GameMenu" asp-action="GameStart" class="bj-centered-block">
    <div class="form-group">
        <label class="bj-centered-control" for="exampleFormControlSelect1">Bots count:</label>
        <select class="form-control bj-centered-control" id="exampleFormControlSelect1">
            @for (int i = 0; i <= 7; i++)
            {
                <option>@i</option>
            }
        </select>
    </div>
</form>*@


