@model GameViewModel
@{
    ViewData["Title"] = "Game";
    Layout = "_LayoutGame";
}
@*<div style="display: none" id="id-game">@Model.Game.Id</div>*@

<div>
    @{ 
    int i = 1;
    int score = 0;
    foreach (var player in Model.Players)
    {
        <div id="card-@i.ToString()" class="card card-modify">
            <div class="card-header">
                @player.Name
            </div>
            <div id="body-@i.ToString()" class="card-body card-body-modify">
                @if (Model.Cards != null)
                {
                    score = Model.Scores[i - 1];
                    var cards = Model.Cards[i-1];
                    for (int j = 0; j < cards.Count(); j++)
                    {
                        string str = $"{cards[j]}.png";
                        <img id="" src="/Images/@str" class="card-img" />
                    }
                }
            </div>
            <div id="footer-@i.ToString()" style="height: 52px" class="alert-secondary card-footer">
                <span id="score-@i.ToString()" class="card-font-large card-score">@score</span>

<span id="result-@i.ToString()" class="card-font-large" style="float: right"></span>           
            </div>
        </div>
        i++;
    }
    }
</div>



