@model PlayerMenuViewModel
@{
    ViewData["Title"] = "Welcome "+ @Model.Name;
    Layout = "_Layout";
}
<div>
    <form method="post" style="margin-bottom: 0;" 
        class="form-group" asp-controller="Menu" asp-action="StartGame">
        <label for="countBotsString">Bots count:</label>
        <select class="form-control" name="countBots" id="countBotsString">
            @for (int i = 0; i <= 6; i++)
            {
                <option>@i</option>
            }
        </select>
        <input type="submit" class="btn btn-primary button-my-outline" value="New Game" />
    </form>
    @if (Model.IsAnyUnfinishedGame)
    {
        <form method="post" asp-controller="Menu" asp-action="ContinueGame">
            <input type="submit" class="btn btn-primary button-my-outline" value="Continue Game" />
        </form>
    }
    <form method="post"  style="border-top: 1px solid #808080;" asp-controller="Menu" asp-action="ShowGames">
        <input type="submit" class="btn btn-primary button-my-outline" value="Show Games" />
    </form>
</div>



